#stamp {
    width: 100vw;
    height: 100vh;
}

.container_dadi {
    width: 400px;
    height: 400px;
    margin: 150px auto 0;
    background-color: lightblue;
    text-align: center;
}

.container_dadi h3 {
    margin: 15px;
    color: white;
}

#da-fixare {
    text-align: center;
}